# {{ ansible_managed }}

[Unit]
Description=go-thereum client
Requires=network.target

[Service]
Type=simple
User={{ geth_user }} 
Restart=on-failure
ExecStart=/var/lib/geth/.local/bin/geth --config /etc/geth/geth.toml {% if geth_testnet %}--testnet{% endif %} --password /etc/geth/passwords.txt --unlock {{geth_account}} --keystore {{geth_keys_dir}}
[Install]
WantedBy=default.target
